.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px; 
}

.checkbox-container label {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.user-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
  }
  
  .user-profile-content {
    width: 80%; 
    max-width: 500px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  }