.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px; /* Optional: To add some space between each checkbox */
}

.checkbox-container label {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between checkbox and label */
}

.user-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Adjusting for navbar height */
  }
  
  .user-profile-content {
    width: 80%; /* You can adjust this value to your liking */
    max-width: 500px; /* Setting a maximum width */
    background-color: #fff;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  }